html {
    @include media-breakpoint-up(xxl) {
        font-size: 18px;
    }

    @include media-breakpoint-up(xxxl) {
        font-size: 20px;
    }
}

h1,
header > h2 {
    font-weight: bold;
}

header > h2 {
    @include font-size(3rem);
}

.content-area ul > li {
    margin-bottom: 0.5rem;
}

:where(.text-light, .text-dark).link-primary {
    transition: color 0.2s ease-out;

    &:hover,
    &:focus {
        color: $primary !important;
    }
}

.bg-gray-200 {
    background-color: $gray-200;
}

.bg-gray-400 {
    background-color: $gray-400;
}

.text-tertiary {
    color: $tertiary !important;
}

.bg-tertiary {
    background-color: $tertiary !important;
}

.btn-tertiary {
    background-color: $tertiary;
    color: $dark;

    &:hover,
    &:focus {
        background-color: lighten($tertiary, 10);
    }
}

.link-tertiary {
    color: $tertiary;

    &:hover,
    &:focus {
        color: darken($tertiary, 10);
    }
}

.btn-outline-tertiary {
    border: 2px solid $tertiary;
    color: $tertiary;

    &:hover,
    &:focus {
        background-color: $tertiary;
        color: $dark;
    }
}

.fw-medium {
    font-weight: 500;
}

.fw-semibold {
    font-weight: 600;
}

.fw-extrabold {
    font-weight: 800;
}

.fw-dark {
    font-weight: 900;
}

@mixin title-underline($width: 5rem, $height: 0.3rem, $color: $tertiary, $margin: 0.25rem 0) {
    position: relative;
    display: inline-block;
    text-decoration: none;

    &::after {
        content: '';
        display: block;
        width: $width;
        height: $height;
        background-color: $color;
        margin: $margin;
    }
}

.ratio > img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.title-underline {
    display: inline-block;
    position: relative;
    text-decoration: none;

    &::after {
        content: '';
        display: block;
        width: 9rem;
        height: 0.3rem;
        background-color: $secondary;
        margin: 0.5rem 0;
    }

    &-primary {
        &::after {
            background-color: $primary;
        }
    }

    &-secondary {
        &::after {
            background-color: $secondary;
        }
    }

    &-tertiary {
        &::after {
            background-color: $tertiary;
        }
    }

    &-dark {
        &::after {
            background-color: $dark;
        }
    }
}

.entry-title.title-underline,
h3.title-underline,
h3 > .title-underline {
    &::after {
        width: 5rem;
        transition: width 0.3s cubic-bezier(0.04, 0.57, 0.57, 0.95);
    }

    &:where(:hover, :focus) {
        &::after {
            width: 100%;
        }
    }
}

h1,
h2 {
    &.title-underline::after {
        height: 0.45rem;
        width: 11rem;
    }
}

a.read-more {
    display: inline-block;
    width: auto;
    font-size: 0.875rem;
    text-decoration: none;
    position: relative;
    transition: 0.3s cubic-bezier(0.04, 0.57, 0.57, 0.95);

    &::after {
        content: '';
        width: 1rem;
        height: 1rem;
        position: absolute;
        right: 1rem;
        bottom: 0;
        top: 50%;
        transform: translateY(-45%) scale(0.5);
        background-color: currentColor;
        mask-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 0 1 1.414 0l6 6a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1-1.414-1.414L14.586 11H3a1 1 0 1 1 0-2h11.586l-4.293-4.293a1 1 0 0 1 0-1.414z" clip-rule="evenodd"/></svg>');
        mask-repeat: no-repeat;
        mask-position: center;
        opacity: 0;
        transition: 0.3s cubic-bezier(0.04, 0.57, 0.57, 0.95);
    }

    &:where(:hover, :focus) {
        padding-right: 1.5rem;

        &::after {
            right: 0.25rem;
            opacity: 1;
            transform: translateY(-45%) scale(1);
        }
    }
}

#page-wrapper {
    padding-top: $menu-height;
}

#wrapper-navbar {
    position: absolute;
    top: 0;
    z-index: $zindex-sticky;

    .navbar-light {
        .navbar-nav {
            .nav-link {
                color: $text-strong;
                color: $dark;
                font-weight: 800;
                padding: 0.25rem 0;
                position: relative;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 2px;
                    background-color: $dark;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    transition: width 0.3s ease-out;
                }

                &:hover,
                &:focus {
                    &::after {
                        width: 100%;
                    }
                }
            }

            .menu-item {
                padding: 0.25rem 1rem;

                &.current_page_item,
                &.current-page-ancestor {
                    .nav-link {
                        &::after {
                            width: 100%;
                        }
                    }
                }

                &:last-child {
                    padding: 0.25rem 0.5rem;

                    .nav-link {
                        padding: 0.25rem 0.625rem;
                        color: $light;
                        background-color: $dark;
                        transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;

                        &:hover,
                        &:focus {
                            background-color: $tertiary;
                            box-shadow: 0 5px 5px -2px rgba($tertiary, 0.5);
                        }
                    }
                }
            }
        }
    }

    .navbar-brand {
        img {
            max-height: 3.5rem;
            width: auto;
        }
    }
}

.single-post {
    .menu-item {
        &.menu-item-282,
        &.menu-item-283 {
            .nav-link::after {
                width: 100% !important;
            }
        }
    }
}

.single-noticies {
    .menu-item {
        &.menu-item-39,
        &.menu-item-121 {
            .nav-link::after {
                width: 100% !important;
            }
        }
    }
}

.single-agenda_events {
    .menu-item {
        &.menu-item-38,
        &.mnu-iteme-122 {
            .nav-link::after {
                width: 100% !important;
            }
        }
    }
}

.page-header {
    position: relative;
    min-height: clamp(300px, 55vh, 585px);

    &.no-img {
        background-color: $light-gray;
    }

    > .page-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    > .container {
        padding-top: clamp($menu-height, 15vh, $menu-height * 2);
    }

    .page-title {
        color: $light;
        font-weight: 800;
        @include font-size(3rem);
    }
}

.page-header {
    .header-content {
        max-width: 65%;
    }
}

.no-results,
.not-found {
    .page-title {
        color: var(--dark);
    }
}

.dropdown-toggle {
    &::after {
        vertical-align: middle;
    }
}

.post,
.noticies {
    .page-header {
        min-height: clamp(250px, 40vh, 350px);

        .entry-title {
            max-width: 65%;
        }
    }
}

.navigation {
    margin-top: 3rem;
    font-size: $small-font-size;

    a {
        color: $strong-gray;
        text-decoration: none;
    }
}

.related-posts {
    background-color: #e6e6e6;
    top: 1rem;
}

.category-filters {
    ul {
        li {
            padding: 0 0.5rem;
            box-shadow: 5px 0 0 -4px $light-gray;

            a {
                color: $strong-gray;
                text-decoration: none;
                font-size: $small-font-size;
            }

            &.current-cat {
                font-weight: bold;
            }

            &:first-child {
                padding-left: 0;
            }
        }
    }
}

#archive-wrapper,
#search-wrapper,
#error-404-wrapper {
    .page-header {
        min-height: clamp(200px, 35vh, 300px);
    }
}

#error-404-wrapper {
    a[href] {
        text-decoration: none;
        color: $strong-gray;
    }
}

.searchform-wrapper {
    .search-form {
        display: inline-block;
    }
}

.search-field {
    padding: 0.375rem 1em 0.375rem 3em;
}

.error-404,
.not-found {
    .search-field {
        padding: 0.5rem 1rem 0.5rem 3rem;
        font-size: 1.25rem;
    }
}

.input-group-icon {
    .icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        z-index: 5;
    }
    button.icon {
        display: inline-flex;
        padding: 0;
        border: 0;
        background: none;
        appearance: none;
    }
    .search-icon {
        color: $strong-gray;
    }
    .loading-icon {
        display: none;
    }
}

.dot-pattern {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 90%;

    @include media-breakpoint-down(md) {
        height: 50%;
    }

    svg {
        color: white;
        height: 100%;
    }
}

.page-template-association-template,
.page-template-candidature-template,
.page-template-participate-template,
.page-template-present-template,
.page-template-contact-template,
.blog {
    #wrapper-navbar::before {
        content: '';
        display: block;
        width: 100%;
        height: 150%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background: linear-gradient(
            180deg,
            rgba(white, 0.6) 35%,
            rgba(white, 0.2) 75%,
            transparent
        );
    }
}

.page-template-homepage-template {
    .page-image img {
        object-position: top center;
    }
}

:where(#present-page-wrapper, .blog) {
    .page-image img {
        object-position: center 20%;
    }
}

.page-template-participate-form-template {
    .page-header .title-underline {
        &::after {
            width: 4.5rem;
            margin: 0;
            transition: width 0.3s cubic-bezier(0.04, 0.57, 0.57, 0.95);
        }

        &:hover,
        &:focus {
            &::after {
                width: 100%;
            }
        }
    }
}

#single-wrapper,
#archive-wrapper,
#search-wrapper,
#error-404-wrapper {
    padding-top: $menu-height;
}

.homepage-hero {
    position: relative;
    padding-top: $menu-height;
    overflow: hidden;

    &__image {
        position: absolute;
        inset: 0;
        z-index: -1;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    &__content {
        margin: 8% auto 0;

        h1 {
            @include font-size(4.5rem);
        }
        h2 {
            @include font-size(3rem);
        }

        .description {
            font-weight: 500;
            background: rgba(black, 0.375);
            max-width: 85%;

            @include media-breakpoint-up(md) {
                max-width: 75%;
            }
            @include media-breakpoint-up(lg) {
                max-width: min(40rem, 60%);
            }
        }

        .btn-animated {
            position: relative;

            &::before,
            &::after {
                content: '';
                width: 0;
                height: 2px;
                position: absolute;
                transition: all 0.2s linear;
                background: $dark;
            }

            > span {
                &::before,
                &::after {
                    content: '';
                    width: 2px;
                    height: 0;
                    position: absolute;
                    transition: all 0.2s linear;
                    background: $dark;
                }
            }

            &:where(:hover, :focus) {
                &::before,
                &::after {
                    width: 100%;
                }
                span::before,
                span::after {
                    height: 100%;
                }
            }

            &::before,
            &::after {
                transition-delay: 0s;
            }

            span::before,
            span::after {
                transition-delay: 0.2s;
            }

            &::before {
                right: 0;
                top: 0;
            }
            &::after {
                left: 0;
                bottom: 0;
            }

            span::before {
                left: 0;
                top: 0;
            }

            span::after {
                right: 0;
                bottom: 0;
            }

            &:where(:hover, :focus) {
                &::before,
                &::after {
                    transition-delay: 0.2s;
                }

                span::before,
                span::after {
                    transition-delay: 0s;
                }
            }
        }
    }

    &__title {
        max-width: min(42.5rem, 75%);
    }

    &__pattern {
        height: 70%;

        @include media-breakpoint-down(md) {
            display: flex;
            max-width: 70%;

            svg {
                width: 100%;
                height: auto;
                margin-top: auto;
            }
        }
    }
}

.values-list {
    .value {
        flex: 1;
        min-width: 13rem;
        max-width: max(50%, 25rem);

        display: flex;
        flex-flow: column;

        .entry-thumbnail {
            background-color: $gray-200;
            aspect-ratio: 276 / 163;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 60%;
                max-height: 80px;
                object-fit: contain;
            }
        }

        h3 {
            font-size: 1.25rem;
            font-weight: bold;
        }

        .entry-content {
            font-size: 0.875rem;
        }
    }
}

.calendar-monthly-view {
    width: 95%;
}

.calendar-list-view {
    .event-date {
        @include font-size(2rem);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1.2;

        @include media-breakpoint-up(xxl) {
            flex: 0 0 8rem;
        }

        &.bg-primary {
            color: rgba(white, 0.87);
        }

        &.bg-secondary {
            color: $primary;
        }

        .day {
            font-variant-numeric: tabular-nums;
            font-weight: 900;
        }

        .month {
            display: inline-block;
            min-width: fit-content;
            width: 4rem;
        }
    }

    .event-content {
        .title {
            font-size: 1.125rem;
            font-weight: bold;
        }
        .description {
            font-size: 0.875rem;
            margin-bottom: 0;
            line-height: $line-height-sm;
        }
    }

    .read-more {
        font-size: 0.8125rem;
    }

    @include media-breakpoint-down(sm) {
        .calendar-event {
            flex-wrap: wrap;

            .event-date {
                flex-direction: row;
                width: 100%;
            }
        }
    }
}

.post-list {
    article {
        flex: 0 0 calc(50% - 2rem);

        @include media-breakpoint-down(sm) {
            min-width: 100%;
        }
    }

    .entry-title {
        font-size: 1.125rem;

        a {
            color: $dark;
            transition: color 0.3s ease-out;

            &:where(:hover, :focus) {
                color: $tertiary;
            }
        }
    }

    .entry-content {
        font-size: 0.875rem;
    }

    .wp-post-image {
        width: 100%;
        aspect-ratio: 7 / 3;
        object-fit: cover;
    }

    &.post-archive {
        article {
            flex: 0 1 calc(50% - 0.5rem);

            &:last-child {
                margin-right: auto;
            }

            &:nth-last-child(2) {
                margin-left: 0;
            }

            @include media-breakpoint-up(lg) {
                flex: 0 1 calc(33% - 0.5rem);
            }
        }
    }
}

#noticies .post-list,
.post-noticies-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 3rem;

    article {
        flex: auto;
    }
}

.noticeboard {
    h3 {
        @include font-size(1.5rem);
    }
    .announcements-list {
        background-color: #e6e6e6;

        &::-webkit-scrollbar-track {
            background: #e6e6e6;
        }
    }
}

.project {
    flex: 1;
    min-width: 18rem;
    max-width: max(50%, 25rem);

    .wp-post-image {
        width: 100%;
    }

    &__image {
        transition: box-shadow 0.3s ease-out;
    }

    &__title {
        @include font-size(1.75rem);
    }

    &__subtitle {
        font-size: 0.9375rem;
    }

    /*
    &__link {
        &:hover, &:focus {
            .project__image {
                box-shadow: 3px 5px 10px -5px rgba(0, 0, 0, 0.95);
            }
        }
    }
    */
}

.facts-carousel {
    .slick-dots {
        li {
            button {
                &::before {
                    color: white;
                    opacity: 0.75;
                }

                &:hover,
                &:focus {
                    &::before {
                        color: white;
                    }
                }
            }

            &.slick-active {
                button {
                    &::before {
                        opacity: 0.95;
                        color: $dark;
                    }
                }
            }
        }
    }
}

.fact {
    &__title {
        &::after {
            background-color: $dark;
            width: 25%;
            margin: 1rem 0;
        }
    }

    &__content {
        font-size: 0.9375rem;
    }
}

.forums-list {
    .forum {
        flex: 1;
        min-width: 10.9rem;
        max-width: max(50%, 25rem);
        display: flex;
        flex-flow: column;
    }
}

.goals-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 2rem;

    .goal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        background-color: $gray-200;
        line-height: $line-height-sm;
        font-weight: 500;

        p:last-child {
            margin-bottom: 0;
        }

        @include media-breakpoint-up(xxl) {
            padding: 2rem;
        }
    }
}

.container section > .row {
    --bs-gutter-y: 1.5rem;
}

.strategic-line__title {
    display: inline-block;
    position: relative;

    @include font-size(5rem);

    &::after {
        content: '';
        display: block;
        width: 5rem;
        height: 0.25rem;
        background-color: $dark;
    }
}

.section-description {
    font-size: 0.9375rem;
}

#timeline {
    position: relative;
    border-left: 1px solid $light-gray;
    box-shadow: -1px 0px 0px 0px $light-gray;
    margin-left: auto;
    max-width: 90%;

    @include media-breakpoint-up(md) {
        max-width: 80%;
    }

    @include media-breakpoint-up(lg) {
        max-width: 70%;
    }

    #timeline-tracker {
        width: 3px;
        height: 0%;
        position: absolute;
        top: 0;
        left: -3px;
        background: $primary;
        border-radius: 3px;
    }
}

.timeline-events {
    max-width: min(650px, 90%);
}

.event-item {
    position: relative;
    margin-bottom: 1rem;
}

.event-year {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 0;

    &::before {
        content: '';
        width: 1rem;
        height: 1rem;
        background-color: $primary;
        position: absolute;
        left: calc(-1.5rem + -0.5rem - 2px);
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 34.19 39.95'%3E%3Cg fill='%23ffffff'%3E%3Cpath d='M24.69 34.16a7.7 7.7 0 1 0-7.68-7.76v.06a7.67 7.67 0 0 0 7.64 7.7'/%3E%3Cpath d='M9.56 34.34a7.7 7.7 0 1 0-7.64-7.76v.06a7.67 7.67 0 0 0 7.65 7.7m24.61-7.81a5.71 5.71 0 0 0-11.42 0Z'/%3E%3Cpath d='M1.91 26.66h3.86v11.37H1.91z'/%3E%3Cpath d='M3.85 39.95a1.93 1.93 0 1 0-1.94-1.93 1.94 1.94 0 0 0 1.94 1.93m24.63-13.49h3.86v11.48h-3.86z'/%3E%3Cpath d='M30.4 39.87a1.93 1.93 0 1 0-1.93-1.93 1.93 1.93 0 0 0 1.93 1.93M9.59 26.46h15.28v7.88H9.59zM1.92 4.63h1.93V24.7H1.92zm28.49 0h1.93v20.13h-1.93z'/%3E%3C/g%3E%3Cpath fill='%23333' d='M5.76 3.81h22.86v1.9H5.76z'/%3E%3Cg fill='%23ffffff'%3E%3Cpath d='M4.85 7.62A2.85 2.85 0 1 0 1.91 4.8a2.89 2.89 0 0 0 2.94 2.84m24.66.03a2.9 2.9 0 1 0-2.85-2.94 2.9 2.9 0 0 0 2.86 2.9'/%3E%3Cpath d='M7.68 3.8a1.88 1.88 0 1 0-1.9-1.87 1.88 1.88 0 0 0 1.9 1.87m18.92 0a1.89 1.89 0 0 0 1.85-1.9 1.88 1.88 0 1 0-1.88 1.9'/%3E%3Cpath d='M7.6 0h19.08v3.81H7.6zM1.91 13.33h30.46v13.2H1.91z'/%3E%3Cpath d='M18.84 26.46h15.23v.07H18.84z'/%3E%3C/g%3E%3Cpath d='M26.68 9.6a1.93 1.93 0 1 0-1.93-1.93 1.93 1.93 0 0 0 1.93 1.93m1.93 13.2a1.9003 1.9003 0 0 1 .07-3.8 1.9 1.9 0 0 1 0 3.8m-11.55 1.89a3.76 3.76 0 1 0-3.8-3.75 3.75 3.75 0 0 0 3.8 3.75' fill='%23333'/%3E%3Cpath fill='%23ffffff' d='M11.41 26.53a5.71 5.71 0 1 0-11.41 0Z'/%3E%3Cpath fill='%23333' d='M5.78 22.85a1.9 1.9 0 1 1 1.93-1.9 1.91 1.91 0 0 1-1.93 1.9m7.55-1.91h7.62v9.46h-7.62z'/%3E%3Cpath fill='%23ffffff' d='M4.85 1.93h24.66v5.74H4.85z'/%3E%3Cpath fill='%23333' d='M3.85 5.68h26.7v7.64H3.85z'/%3E%3Cpath fill='%23ffffff' d='M16.22 3.92h1.93v12.2h-1.93z'/%3E%3C/svg%3E");
        transition: box-shadow 0.3s;
        z-index: 2;
    }

    &.passed {
        &::before {
            box-shadow: 0 0 0 3px $primary;
        }
    }
}

.event-description > p:last-child {
    margin-bottom: 0;
}

.socis-list-group {
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: max(30rem, 70vh);
    overflow-y: auto;
    padding-bottom: 1rem;
}

.soci {
    margin: 0.25rem 0;

    &::marker {
        color: $tertiary;
    }
}

.soci__name {
    padding-right: 2rem;
}

.socis-nav-item {
    cursor: pointer;

    h3 {
        font-variant: all-small-caps;
        text-align: center;
        margin: 0;
    }

    &.slick-current,
    &:hover,
    &:focus-visible {
        h3 {
            font-weight: bold;
        }
    }
}

.socis-list__nav.slick-slider {
    display: flex;
    margin: 1rem 0 2rem;
    border-bottom: 1px solid $light-gray;
    border-top: 1px solid $light-gray;
    padding: 0.25rem;

    .slick-arrow {
        flex: 0 0 auto;
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        transform: none;
        border: 0;

        &::after {
            display: none;
        }

        &:not(.slick-disabled) {
            &:hover,
            &:focus-visible {
                &.slick-prev::before {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' width='24' height='24' stroke='%23ff7f61'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 19l-7-7 7-7' /%3E%3C/svg%3E");
                }
                &.slick-next::before {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' width='24' height='24' stroke='%23ff7f61'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 5l7 7-7 7' /%3E%3C/svg%3E");
                }
            }
        }
    }
}

#accordionOrganization {
    li::marker {
        color: $primary;
    }

    h4 {
        font-size: 1.125rem;
        font-weight: 600;
        @include title-underline();
    }

    .accordion-button {
        transition-property: color, background-color, border-color, box-shadow, font-weight;
        transition-duration: 0.15s;
        transition-timing-function: ease-in-out;

        &::after {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
            width: 0;
            height: 0;
            color: $primary;
            transition: border-top 0.3s ease-out, transform 0.3s cubic-bezier(0, 0, 0.2, 1);

            @include font-size(2rem);
        }

        &:not(.collapsed) {
            background-color: transparent;
            box-shadow: inset 0 -1px 0;
            font-weight: bold;

            &::after {
                transform: translateY(-50%) rotate(-180deg);
            }
        }

        &.collapsed:focus {
            box-shadow: none;
        }

        &:hover,
        &:focus-visible {
            &::after {
                border-top: 0.5em solid;
            }
        }
    }
}

.reasons-list,
.strategic-lines-list,
.how-to-support-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.reason,
.strategic-line,
.how-to-support-item {
    flex: 1;
    min-width: min(20rem, 100%);
    max-width: 100%;
}

.reason,
.strategic-line {
    p:last-child {
        margin-bottom: 0;
    }
}

.reason {
    &__description {
        font-size: 0.9375rem;
    }
}

.reason:first-child {
    flex-basis: 100%;
}

@include media-breakpoint-down(xl) {
    .strategic-line:first-child,
    .how-to-support-item:first-child {
        flex-basis: 100%;
    }
}

#antecedents-candidacy {
    #timeline-tracker {
        background-color: $tertiary;
    }

    .event-year {
        &::before {
            background-color: $tertiary;
        }

        &.passed {
            &::before {
                box-shadow: 0 0 0 3px $tertiary;
            }
        }
    }
}

.antecedents-candidacy__content {
    h3 {
        font-weight: 600;
        @include title-underline();
    }
}

.how-to-support-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mitjans-list {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    // gap: 2rem;
    // align-items: center;
}

.mitja {
    // max-width: min(100%, 85vw);
    border: 2px solid $primary;

    &__link {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;
        height: 100%;
        padding: 0.75rem;
        color: $body-color;
        transition: background-color 0.3s ease-out;

        @media (max-width: 400px) {
            flex-wrap: wrap;
            justify-content: center;
        }

        @include media-breakpoint-between(sm, xl) {
            flex-wrap: wrap;
            justify-content: center;
        }

        &:hover,
        &:focus-visible {
            color: $body-color;
            background-color: rgba($primary, 0.2);
        }
    }

    &__title {
        font-size: 1.125rem;
    }

    &__image {
        flex: 0 0 25%;
        max-width: min(45%, 8rem);

        > img {
            object-fit: contain;
        }
    }

    &__summary {
        p:last-child {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-down(sm) {
        .mitja__image {
            flex-grow: 1;
            --bs-aspect-ratio: 75% !important;
        }
    }
}

.pagination {
    justify-content: center;
    gap: 0.5rem;
}

.page-item {
    &.active .page-link {
        background-color: $dark;
        border-color: $dark;
    }
}

.page-link {
    color: $dark;
    padding: 0.375rem 0.85rem;
    font-variant-numeric: tabular-nums;
}

#ctf {
    .ctf-item {
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
}

iframe {
    max-width: 100%;
}

#miradors {
    iframe {
        width: 100%;
    }
}

.agenda_events-nav-links,
.blog-link,
.noticies-nav-links {
    font-weight: bold;
    color: $dark;
    text-transform: uppercase;

    &:hover {
        color: $dark;
    }
}

.agenda_events-nav-links {
    @include title-underline(100%, 0.25rem, $secondary, 0);
}

.blog-link {
    @include title-underline(100%, 0.25rem, $primary, 0);
}

.noticies-nav-links {
    @include title-underline(100%, 0.25rem, $tertiary, 0);
}

.dot {
    display: inline-block;
    width: 0.25rem;
    height: 0.25rem;
    background: $dark;
    border-radius: 50%;
    margin: 0.125rem;

    &-secondary {
        background-color: $secondary;
    }

    &-tertiary {
        background-color: $tertiary;
    }
}

.activitat__image-wrapper,
.post__image-wrapper {
    position: relative;

    > img {
        width: 100%;
        max-height: max(40vh, 20rem);
        object-fit: cover;
    }
}

// .section-more {
//     > a {
//         &::after {
//             content: '';
//             display: block;
//             width: 55%;
//             height: 0.25rem;
//             background-color: $secondary;
//             transition: width 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
//         }

//         &:hover,
//         &:focus {
//             &::after {
//                 width: 100%;
//             }
//         }
//     }
// }

.social-icons {
    li {
        flex: 0 0 auto;
    }

    .icon,
    .bi {
        display: block;
    }

    .icon {
        color: $light;
        background-color: $dark;
        transition-property: transform, background-color, color;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
        transform-origin: bottom;

        &:where(:hover, :focus) {
            color: $dark;
            background-color: $primary;
            transform: scale(1.15);
        }
    }
}

.site-footer {
    .logo-wrapper {
        text-align: center;

        > img {
            max-width: min(15rem, 100%);
        }
    }

    .actions-wrapper {
        .btn {
            width: 100%;
            max-width: min(7rem, 100%);
        }
    }

    .menu-wrapper {
        ul {
            list-style: none;
            padding-left: 0;

            .menu-item {
                > a {
                    display: inline-block;
                    position: relative;
                    padding: 0.25rem 0rem;
                    color: $dark;
                    text-decoration: none;
                    font-size: 0.875rem;
                    font-weight: 800;
                    transition: color 0.3s ease-out;

                    &::after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 1px;
                        background-color: $dark;
                        transition: width 0.3s ease-out;
                    }

                    &:hover,
                    &:focus {
                        &::after {
                            width: 100%;
                        }
                    }
                }

                &.current_page_item,
                &.current-page-ancestor {
                    .nav-link {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .partners-wrapper {
        p {
            font-size: 0.875rem;
        }

        .partner {
            flex: 0 0 9rem;

            > svg {
                color: $dark;
                transition: color 0.15s;
            }

            > img {
                filter: grayscale(1);
                transition: filter 0.15s;
            }

            &:hover,
            &:focus {
                > svg {
                    &#diputacio-tarragona {
                        color: #17738e;
                    }

                    &#gencat-cultura {
                        color: #e40c26;
                    }
                }

                > img {
                    filter: grayscale(0);
                }
            }
        }
    }
}

.contact-info-list {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.contact-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    max-width: min(20rem, 95%);
    margin: 0 auto;

    &__icon {
        color: white;
        width: 3rem;
    }

    &__title {
        font-size: 1rem;
        margin: 1rem 0 1.5rem;
        font-weight: bold;
    }

    &__text {
        p:last-child {
            margin-bottom: 0;
        }

        a {
            color: $dark;
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}

.wpcf7 {
    &#wpcf7-f159-o1 {
        max-width: 100%;
    }

    input {
        padding: 0.75rem;
    }

    input[type='submit'] {
        width: auto;
        padding: 0.25rem 1rem;
        font-weight: 600;
        color: $dark;
        border-color: $dark;

        &:hover {
            background-color: $dark;
            color: $light;
        }

        &:disabled,
        &.disabled {
            color: $strong-gray;
        }
    }
}

.select-arrow .wpcf7-form-control-wrap {
    &::after {
        content: '';
        width: 0;
        height: 0;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-top: 0.6rem solid black;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }
}

.wpcf7-form-control[name='number-of-pages'] {
    display: inline-block;
    width: auto;
}

.wpcf7-form-control-wrap[data-name='partner-type'],
.wpcf7-form-control-wrap[data-name='mecenes-type'] {
    display: inline-block;
    width: auto;

    .wpcf7-select {
        padding-right: 2.5rem;
    }
}

.wpcf7-form label {
    font-weight: 600;
}

.wpcf7-list-item-label {
    font-weight: 400;
}

.mc4wp-checkbox-contact-form-7 {
    margin-left: 1rem;

    label {
        font-weight: 400;

        span {
            &::before,
            &::after {
                content: ' ';
            }
        }
    }
}

#mc_embed_signup {
    margin-left: 0 !important;

    .input-group {
        max-width: 25rem;

        input[type='email'] {
            width: auto;
            background-color: rgba(white, 0.75);
            border-color: rgba(white, 0.75);

            &:focus,
            &.valid {
                background-color: white;
            }

            &::placeholder {
                font-size: 0.9375rem;
                font-weight: 300;
                color: $dark;
            }
        }
    }

    .wpcf7-list-item-label {
        > a {
            text-decoration: none;
            font-weight: 600;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}

input.mce_inline_error {
    border: 2px solid #a31b00 !important;
}

div.mce_inline_error {
    margin: 0 !important;
    padding: 0.25rem 0 !important;
    font-size: 0.875rem;
    color: #a31b00 !important;
    background-color: transparent !important;
}

#mce-responses {
    .response {
        display: inline-block;

        &::before {
            content: '';
            display: inline-block;
            background-size: 24px;
            width: 24px;
            height: 24px;
            margin-right: 0.5rem;
            background-position: center;
            background-repeat: no-repeat;
            vertical-align: top;
        }
    }
}

#mce-success-response {
    &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 16 16'%3E%3Cpath fill='%230f5132' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z'%3E%3C/path%3E%3C/svg%3E");
    }
}

#mce-error-response {
    &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 16 16'%3E%3Cpath fill='%23842029' d='M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z'/%3E%3C/svg%3E");
    }
}

.mecenes-type-explanation {
    background-color: $gray-200;
    padding: 1rem;
    margin-bottom: 1rem;
}

.mosaic-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-gap: 0.5rem;

    article {
        position: relative;
        aspect-ratio: 1 / 1;
        width: 100%;
        min-height: 8rem;
        margin: 0 auto;

        .bg-image {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .mosaic-icon {
            color: $dark;
            font-size: 14px;
            z-index: 5;
            padding-left: 0.5rem;
            align-items: center;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 28.5%;
                height: 100%;
                background: $light-yellow;
                border-radius: 50%;
                transition-property: border-radius, width;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
                transform-origin: right;
                z-index: -1;
            }

            svg {
                width: 2rem;
                background: $light-yellow;
                border-radius: 50%;
                padding: 4px;
            }

            span {
                font-weight: 500;
                opacity: 0;
                transition: opacity 0.3s ease-out;
            }
        }

        .article-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 100%;
            color: $light;
            background-color: rgba($dark, 0.25);
            opacity: 0;
            visibility: hidden;
            backdrop-filter: blur(0px);
            transition-property: opacity, visibility, backdrop-filter;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
            will-change: backdrop-filter;

            .entry-title {
                font-size: 1rem;
                text-align: center;
                padding: 0.5rem;
            }

            .entry-content {
                font-size: $small-font-size;
            }
        }

        .button-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            border: 0;
            background: transparent;
            cursor: pointer;
            text-decoration: none;

            &:hover,
            &:focus-visible {
                .mosaic-icon {
                    > span {
                        opacity: 1;
                    }

                    &::before {
                        border-radius: 2rem;
                        width: 100%;
                    }
                }

                .article-wrapper {
                    opacity: 1;
                    visibility: visible;
                    backdrop-filter: blur(5px);
                }
            }
        }
    }
}

.zoom {
    overflow: hidden;
    cursor: zoom-in;

    &.zooming {
        cursor: zoom-out;
    }

    img {
        transition: transform 0.5s ease-out;
    }
}

.loader {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: url('../images/loader.svg');
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 4rem;
        z-index: -1;
        opacity: 1;
        transition: 0.3s opacity;
    }

    &.loaded,
    &.lazyloaded {
        &::before {
            opacity: 0;
        }
    }
}

.modal {
    @include media-breakpoint-up(sm) {
        .modal-dialog {
            max-width: clamp(30rem, 80%, 60rem);
        }
    }

    .modal-content {
        background-color: transparent;
        border: 0;

        .modal-header {
            border-bottom: 0;
            padding-bottom: 0;

            .modal-image,
            .modal-video,
            .modal-document {
                flex: 100%;
                max-width: 100%;
            }

            .modal-image {
                img {
                    width: 100%;
                }
            }

            .modal-video {
                iframe,
                video {
                    width: 100%;
                    min-height: 75vh;
                }
            }

            .modal-document {
                img {
                    min-width: 50%;
                }

                iframe {
                    display: block;
                    min-height: clamp(300px, 75vh, 600px);
                }
            }
        }

        .modal-body {
            .entry-title {
                color: $light;
                font-size: 1.25rem;
                font-weight: $font-weight-light;
                line-height: $line-height-sm;
                margin: 0 auto;
            }

            span {
                font-weight: 300;
            }
        }

        .btn-close {
            position: fixed;
            top: 2rem;
            right: 2rem;
            border: 2px solid;
            border-radius: 50%;
            color: white;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
            opacity: 0.75;

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }

    &::-webkit-scrollbar {
        width: 0.25rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $tertiary;
        border-radius: 5px;
    }
}

.modal-backdrop {
    background: linear-gradient(
        0deg,
        rgba(black, 0.85) 0,
        rgba(black, 0.3) 50%,
        rgba(black, 0.15) 65%,
        rgba(black, 0.075) 75.5%,
        rgba(black, 0.037) 82.85%,
        rgba(black, 0.019) 88%,
        transparent
    );

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $dark;
        opacity: 0.75;
    }

    &.show {
        opacity: 1;
    }
}

// ::selection {
//     background-color: $tertiary;
//     color: white;
// }

/** slick-theme-css **/

.slick-slide {
    img {
        aspect-ratio: 3 / 2;
        object-fit: cover;
    }
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: -2rem;
    display: block;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    outline: none;
    background: transparent;

    border: 1px solid $dark;
    border-radius: 50%;
    padding: 5px;
    box-sizing: content-box;

    &:hover,
    &:focus {
        color: transparent;
        outline: none;
        background: transparent;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        font-size: 20px;
        line-height: 1;
        color: $dark;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid $primary;
        border-radius: 50%;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        margin: -1px;
        transition: 0.5s;
    }

    &.slick-disabled {
        opacity: 0.25s;

        &::before {
            opacity: 0.25;
        }
    }
}

.slick-prev {
    left: calc(50% - 1.75rem);
    transform: translateX(-50%);

    &::before {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiPg0KICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTE1IDE5bC03LTcgNy03IiAvPg0KPC9zdmc+');
    }

    &:after {
        clip-path: inset(0 36px 0 0);
    }

    &:hover,
    &:focus-visible {
        &:not(.slick-disabled) {
            &::after {
                clip-path: inset(0);
            }
        }
    }
}

.slick-next {
    right: calc(50% - 1.75rem);
    transform: translateX(50%);

    &::before {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiPg0KICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTkgNWw3IDctNyA3IiAvPg0KPC9zdmc+');
    }

    &::after {
        clip-path: inset(0 0 0 36px);
    }

    &:hover,
    &:focus-visible {
        &:not(.slick-disabled) {
            &::after {
                clip-path: inset(0);
            }
        }
    }
}

/* End arrows */

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -30px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;

            &:hover,
            &:focus {
                outline: none;

                &:before {
                    opacity: 1;
                    transition-delay: 0s;
                    color: $secondary;
                }
            }

            &:before {
                font-size: 3rem;
                line-height: 20px;
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                content: '•';
                text-align: center;
                opacity: 0.3;
                color: $strong-gray;
                transition: opacity 0.3s ease-out, color 0.2s 0.1s ease-out;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }

        &.slick-active {
            button {
                &:before {
                    opacity: 0.95;
                    color: $primary;
                }
            }
        }
    }
}

/* End dots */

/** End slick-theme-css **/
