// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


// Colors
$primary: #2d4419;
$secondary: #e5a32c;
$tertiary: #96a81e;
$text-strong: #1D1D1B;

// Options
$enable-rounded: false;

// Sizing
$menu-height: 3.5rem;
