.site {
    padding-top: $menu-height;
}

h1,
header > h2 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

header > h2 {
    @include font-size(2.5rem);
}

.btn-tertiary {
    background-color: $tertiary;
    color: $dark;

    &:hover,
    &:focus {
        background-color: lighten($tertiary, 10);
    }
}

.btn-outline-tertiary {
    border: 2px solid $tertiary;
    color: $tertiary;

    &:hover,
    &:focus {
        background-color: $tertiary;
        color: $dark;
    }
}

.bg-title {
    display: inline-block;
    position: relative;
    z-index: 0;

    &::before {
        content: '';
        position: absolute;
        top: 53%;
        bottom: -0.25rem;
        right: 0;
        left: 0;
        z-index: -1;
        background-color: $primary;
    }

    &-tertiary {
        &::before {
            background-color: $tertiary;
        }
    }
}

a.read-more {
    display: block;
    text-align: end;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: 0.3s cubic-bezier(0.04, 0.57, 0.57, 0.95);

    &::after {
        content: '';
        width: 1rem;
        height: 1rem;
        position: absolute;
        right: 1rem;
        bottom: 0;
        top: 50%;
        transform: translateY(-45%) scale(0.5);
        background-color: currentColor;
        mask-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 0 1 1.414 0l6 6a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1-1.414-1.414L14.586 11H3a1 1 0 1 1 0-2h11.586l-4.293-4.293a1 1 0 0 1 0-1.414z" clip-rule="evenodd"/></svg>');
        mask-repeat: no-repeat;
        mask-position: center;
        opacity: 0;
        transition: 0.3s cubic-bezier(0.04, 0.57, 0.57, 0.95);
    }

    &:where(:hover, :focus) {
        color: $tertiary;
        padding-right: 1.25rem;

        &::after {
            right: 0;
            opacity: 1;
            transform: translateY(-45%) scale(1);
        }
    }
}

#wrapper-navbar {
    position: absolute;
    top: 0;

    .navbar-light {
        .navbar-nav {
            .nav-link {
                color: $text-strong;
                color: $dark;
                font-weight: bold;
                padding: 0.5rem 1rem;
                position: relative;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $primary;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    transform: scaleX(0);
                    transform-origin: center center;
                    transition: transform 0.3s ease-out;
                }

                &:where(:hover, :focus, [aria-current='page']) {
                    &::before {
                        transform: scaleX(1);
                    }
                }
            }

            .menu-item {
                &:last-child {
                    padding: 0.25rem 0.5rem;

                    .nav-link {
                        padding: 0.25rem 0.625rem;
                        color: $light;
                        background-color: $primary;
                        transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;

                        &:where(:hover, :focus, [aria-current='page']) {
                            background-color: $tertiary;
                            box-shadow: 0 5px 5px -2px rgba($primary, 0.5);
                        }
                    }
                }
            }
        }
    }

    .navbar-brand {
        padding-top: 0;

        img {
            max-height: 3rem;
            width: auto;
        }
    }
}

.homepage-hero {
    min-height: calc(100vh - $menu-height);

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 0.5rem;
        background-color: $secondary;
    }

    .bg-image {
        inset: 0;
        z-index: -1;

        > img {
            height: 100%;
            object-fit: cover;
        }
    }

    .hero-content {
        width: 85%;
        margin: 0 auto;

        h1 {
            @include font-size(4.5rem);
        }
        h2 {
            @include font-size(3rem);
        }

        .description {
            font-weight: 500;
            background: rgba(black, 0.375);
            max-width: 85%;

            @include media-breakpoint-up(md) {
                max-width: 75%;
            }
            @include media-breakpoint-up(lg) {
                max-width: min(40rem, 60%);
            }
        }

        .btn-animated {
            &::before,
            &::after {
                content: '';
                width: 0;
                height: 2px;
                position: absolute;
                transition: all 0.2s linear;
                background: $primary;
            }

            > span {
                &::before,
                &::after {
                    content: '';
                    width: 2px;
                    height: 0;
                    position: absolute;
                    transition: all 0.2s linear;
                    background: $primary;
                }
            }

            &:where(:hover, :focus) {
                &::before,
                &::after {
                    width: 100%;
                }
                span::before,
                span::after {
                    height: 100%;
                }
            }

            &::before,
            &::after {
                transition-delay: 0s;
            }

            span::before,
            span::after {
                transition-delay: 0.2s;
            }

            &::before {
                right: 0;
                top: 0;
            }
            &::after {
                left: 0;
                bottom: 0;
            }

            span::before {
                left: 0;
                top: 0;
            }

            span::after {
                right: 0;
                bottom: 0;
            }

            &:where(:hover, :focus) {
                &::before,
                &::after {
                    transition-delay: 0.2s;
                }

                span::before,
                span::after {
                    transition-delay: 0s;
                }
            }
        }
    }
}

.values-list {
    .value {
        background-color: $light-yellow;
        flex: 1;
        min-width: 13rem;
        max-width: max(50%, 25rem);

        display: flex;
        flex-flow: column;

        h3 {
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            color: $primary;
        }
    }
}

.calendar-monthly-view {
    width: 95%;
}

.calendar-list-view {
    .event-date {
        @include font-size(1.625rem);
        font-weight: bold;
        text-align: center;

        &.bg-primary {
            color: rgba(white, 0.87);
        }

        &.bg-secondary {
            color: $primary;
        }

        .month {
            display: inline-block;
            min-width: fit-content;
            width: 4rem;
        }
    }

    .event-content {
        .title {
            font-size: $font-size-base;
            font-weight: bold;
        }
        .description {
            margin-bottom: 0;
        }
    }
}

.post-list {
    article {
        flex: 0 0 calc(50% - 2rem);

        @include media-breakpoint-down(sm) {
            min-width: 100%;
        }
    }

    .entry-title {
        font-size: 1.125rem;

        a {
            color: $dark;
            transition: color 0.3s ease-out;

            &:where(:hover, :focus) {
                color: $tertiary;
            }
        }
    }

    .wp-post-image {
        width: 100%;
        aspect-ratio: 7 / 3;
        object-fit: cover;
    }

    &.post-archive {
        article {
            flex: 0 1 calc(50% - 0.5rem);

            &:last-child {
                margin-right: auto;
            }

            &:nth-last-child(2) {
                margin-left: 0;
            }

            @include media-breakpoint-up(lg) {
                flex: 0 1 calc(33% - 0.5rem);
            }
        }
    }
}

.noticeboard {
    h3 {
        color: $primary;
        @include font-size(1.5rem);
    }
    .announcements-list {
        background-color: $light-yellow;

        &::-webkit-scrollbar-thumb {
            &:hover {
                background-color: rgba($tertiary, 0.5);
            }
            &:active {
                background-color: $tertiary;
            }
        }

        &::-webkit-scrollbar-track {
            background: $light-yellow;
        }
    }
}

.project {
    flex: 1;
    min-width: 18rem;
    max-width: max(50%, 25rem);

    .wp-post-image {
        width: 100%;
    }
}

.forums-list {
    .forum {
        color: $light;
        background-color: $primary;
        flex: 1;
        min-width: 10.9rem;
        max-width: max(50%, 25rem);

        display: flex;
        flex-flow: column;

        .entry-title {
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            color: $light-yellow;

            > a {
                color: $light-yellow;
                transition: color 0.3s ease-out;

                &:hover,
                &:focus {
                    color: $secondary;
                }
            }
        }

        .read-more {
            color: currentColor;

            &:where(:hover, :focus) {
                color: $secondary;
            }
        }
    }
}

.section-description {
    font-size: 0.9375rem;
}

.section-more {
    > a {
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        font-size: $small-font-size;
        font-weight: bold;
        text-decoration: none;
        padding: 0.25rem 0.25rem 0.25rem 0;

        &::after {
            content: '';
            display: block;
            width: 55%;
            height: 0.25rem;
            background-color: $secondary;
            transition: width 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        }

        &:hover,
        &:focus {
            &::after {
                width: 100%;
            }
        }
    }
}

.social-icons {
    li {
        flex: 0 0 auto;
    }

    .icon,
    .bi {
        display: block;
    }

    .icon {
        padding: 0.375rem;
        transition: transform 0.3s ease-out;
        transform-origin: bottom;

        &:where(:hover, :focus) {
            transform: scale(1.25);
        }
    }
}

.site-footer {
    .logo-wrapper {
        text-align: center;

        > img {
            max-width: min(15rem, 100%);
        }
    }

    .actions-wrapper {
        .btn {
            width: 100%;
            max-width: min(7rem, 100%);
        }

        .btn-outline-tertiary {
            color: $light;

            &:hover,
            &:focus {
                color: $dark;
            }
        }
    }

    .menu-wrapper {
        ul {
            list-style: none;
            padding-left: 0;
            text-align: center;

            .menu-item {
                > a {
                    display: inline-block;
                    position: relative;
                    padding: 0.375rem 0.5rem;
                    color: $light;
                    text-decoration: none;
                    transition: color 0.3s ease-out;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: $tertiary;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        transform: scaleX(0);
                        transform-origin: center center;
                        transition: transform 0.3s ease-out;
                    }

                    &:where(:hover, :focus, [aria-current='page']) {
                        color: $tertiary;

                        &::before {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }

    .partners-wrapper {
        .partner {
            flex: 1;
            min-width: 8rem;
            max-width: max(50%, 12rem);

            > svg {
                color: $light;
                transition: color 0.3s ease-out;
            }

            &:hover,
            &:focus {
                > svg {
                    &#diputacio-tarragona {
                        color: #17738e;
                    }

                    &#gencat-cultura {
                        color: #e40c26;
                    }
                }
            }
        }
    }
}

#contact-page-wrapper {
    .page-header {
        background-color: $light-yellow;
    }
}

.contact-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    background-color: #f2f2f2;
    max-width: min(20rem, 95%);
    margin: 0 auto;
    box-shadow: 0 5px 20px -10px rgba(black, 0.25);

    .block-icon {
        color: #a4a4a4;
        width: 3rem;
    }

    .block-title {
        font-size: 1rem;
        margin: 1rem 0 1.5rem;
    }

    .block-text {
        text-decoration: none;
        transition: 0.1s ease-out;

        &:hover,
        &:focus {
            text-decoration: underline;
            color: $primary;
        }
    }
}

.wpcf7 {
    &#wpcf7-f159-o1 {
        max-width: 100%;
    }

    .wpcf7-form label {
        font-weight: 500;
    }

    input {
        padding: 0.75rem;
    }

    input[type='submit'] {
        width: auto;
        padding: 0.5rem 1rem;
        font-weight: 500;
    }
}

.mosaic-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    grid-gap: 0.5rem;

    article {
        position: relative;
        aspect-ratio: 1 / 1;
        width: 100%;
        min-height: 8rem;
        margin: 0 auto;

        .bg-image {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .mosaic-icon {
            color: $dark;
            font-size: 14px;
            z-index: 5;
            padding-left: 0.5rem;
            align-items: center;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 28.5%;
                height: 100%;
                background: $light-yellow;
                border-radius: 50%;
                transition-property: border-radius, width;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
                transform-origin: right;
                z-index: -1;
            }

            svg {
                width: 2rem;
                background: $light-yellow;
                border-radius: 50%;
                padding: 4px;
            }

            span {
                font-weight: 500;
                opacity: 0;
                transition: opacity 0.3s ease-out;
            }
        }

        .article-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 100%;
            color: $light;
            background-color: rgba($dark, 0.25);
            opacity: 0;
            visibility: hidden;
            backdrop-filter: blur(0px);
            transition-property: opacity, visibility, backdrop-filter;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
            will-change: backdrop-filter;

            .entry-title {
                font-size: 1rem;
                text-align: center;
                padding: 0.5rem;
            }

            .entry-content {
                font-size: $small-font-size;
            }
        }

        .button-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            border: 0;
            background: transparent;
            cursor: pointer;
            text-decoration: none;

            &:hover,
            &:focus-visible {
                .mosaic-icon {
                    > span {
                        opacity: 1;
                    }

                    &::before {
                        border-radius: 2rem;
                        width: 100%;
                    }
                }

                .article-wrapper {
                    opacity: 1;
                    visibility: visible;
                    backdrop-filter: blur(5px);
                }
            }
        }
    }
}

.zoom {
    overflow: hidden;
    cursor: zoom-in;

    &.zooming {
        cursor: zoom-out;
    }

    img {
        transition: transform 0.5s ease-out;
    }
}

.loader {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: url('../images/loader.svg');
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 4rem;
        z-index: -1;
        opacity: 1;
        transition: 0.3s opacity;
    }

    &:where(.loaded, .lazyloaded) {
        &::before {
            opacity: 0;
        }
    }
}

.modal {
    @include media-breakpoint-up(sm) {
        .modal-dialog {
            max-width: clamp(500px, 80%, 850px);
        }
    }

    .modal-content {
        background-color: transparent;
        border: 0;

        .modal-header {
            border-bottom: 0;
            padding-bottom: 0;

            .modal-image,
            .modal-video,
            .modal-document {
                flex: 100%;
                max-width: 100%;
            }

            .modal-image {
                img {
                    width: 100%;
                }
            }

            .modal-video {
                iframe,
                video {
                    width: 100%;
                    min-height: 75vh;
                }
            }

            .modal-document {
                img {
                    min-width: 50%;
                }

                iframe {
                    display: block;
                    min-height: clamp(300px, 75vh, 600px);
                }
            }
        }

        .modal-body {
            .entry-title {
                color: $light;
                font-size: 1.5rem;
                font-weight: $font-weight-light;
                line-height: $line-height-sm;
                margin: 0 auto;
            }

            span {
                font-weight: 300;
            }
        }

        .btn-close {
            position: fixed;
            top: 2rem;
            right: 2rem;
            border: 2px solid;
            border-radius: 50%;
            color: white;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
            opacity: 0.75;

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }

    &::-webkit-scrollbar {
        width: 0.25rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $tertiary;
        border-radius: 5px;
    }
}

.modal-backdrop {
    background: linear-gradient(
        0deg,
        rgba(black, 0.85) 0,
        rgba(black, 0.3) 50%,
        rgba(black, 0.15) 65%,
        rgba(black, 0.075) 75.5%,
        rgba(black, 0.037) 82.85%,
        rgba(black, 0.019) 88%,
        transparent
    );

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $dark;
        opacity: 0.75;
    }

    &.show {
        opacity: 1;
    }
}

::selection {
    background-color: $tertiary;
    color: white;
}

/** slick-theme-css **/

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: -2rem;
    display: block;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    outline: none;
    background: transparent;

    border: 1px solid $dark;
    border-radius: 50%;
    padding: 5px;
    box-sizing: content-box;

    &:hover,
    &:focus {
        color: transparent;
        outline: none;
        background: transparent;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        font-size: 20px;
        line-height: 1;
        color: $dark;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid $primary;
        border-radius: 50%;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        margin: -1px;
        transition: 0.5s;
    }

    &.slick-disabled {
        opacity: 0.25s;

        &::before {
            opacity: 0.25;
        }
    }
}

.slick-prev {
    left: calc(50% - 1.75rem);
    transform: translateX(-50%);

    &::before {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiPg0KICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTE1IDE5bC03LTcgNy03IiAvPg0KPC9zdmc+');
    }

    &:after {
        clip-path: inset(0 36px 0 0);
    }

    &:hover,
    &:focus-visible {
        &:not(.slick-disabled) {
            &::after {
                clip-path: inset(0);
            }
        }
    }
}

.slick-next {
    right: calc(50% - 1.75rem);
    transform: translateX(50%);

    &::before {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiPg0KICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTkgNWw3IDctNyA3IiAvPg0KPC9zdmc+');
    }

    &::after {
        clip-path: inset(0 0 0 36px);
    }

    &:hover,
    &:focus-visible {
        &:not(.slick-disabled) {
            &::after {
                clip-path: inset(0);
            }
        }
    }
}

/* End arrows */

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -30px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;

            &:hover,
            &:focus {
                outline: none;

                &:before {
                    opacity: 1;
                    transition-delay: 0s;
                    color: $secondary;
                }
            }

            &:before {
                font-size: 3rem;
                line-height: 20px;
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                content: '•';
                text-align: center;
                opacity: 0.3;
                color: $primary;
                transition: opacity 0.3s ease-out, color 0.2s 0.1s ease-out;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }

        &.slick-active {
            button {
                &:before {
                    opacity: 0.95;
                    color: $secondary;
                }
            }
        }
    }
}

/* End dots */

/** End slick-theme-css **/
